<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>TEST</title>
</head>

<body>

    
    <div class="m-3">
        <img src="https://cdn-object.talent.com/img/common/talent_logo_purple_220.png" alt="talent">
    </div>
    

    <nav class="navbar navbar-dark bg-dark mb-2">
        <a href="/" class="navbar-brand">TEST: JUAN PABLO BEDOYA MOSQUERA</a>
    </nav>

    <div class="mb-4 mx-4 border-bottom">
        <h2>JOBS</h2>
    </div>